<div class="main">
  <h1>Configurator</h1>
  <section class="configurator">
    <div>
      <app-svg-display [svgConfig]="config"></app-svg-display>
    </div>
    <div>
      <h2>Softshell: {{ pickedSoftshell }}</h2>
      <app-controls
        [imageURLs]="URLSoftShell"
        (eventEmitter)="changeCircle($event)"
        ></app-controls>
      <h2>Gurtband: {{ pickedColor }}</h2>
      <app-controls
        [imageURLs]="URLGurtband"
        (eventEmitter)="changeRect($event)"
      ></app-controls>
    </div>
  </section>
  <p></p>
</div>
